.container
{
    margin-bottom: 150px;
}
/* content-left*/
.news-study
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.content-sub
{
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

subject-enrol:hover
{
    text-decoration: underline !important;
}

/*content-right*/
ul > li
{
    list-style: none;
}
.sidebar
{
    background-color: #f8f8f8;
    padding:10px;
}
.gohome
{
    font-weight: bold;
}
a:hover
{
    text-decoration: none;
}
.make-color:hover
{
    text-decoration: underline;
}
.sub-content
{
    color: #337ab7;
}
.sub-content:hover
{
    color: #23527c;
    cursor: pointer;
}
.under-link-content-left:hover
{
    text-decoration: underline;
}
