.container
{
    margin-bottom: 30px;
}
/*search sub*/
.search
{
    height: 30px;
    width: auto;
    border-radius: 4px;
    border:1px solid #CCCCCC;
}
.Xem
{
    height: 30px;
    width:50px;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
}
/*section*/
*
{
    padding: 0;
    margin: 0;
}
.navbar-inner
{
    padding: 5px;
    border-bottom: 1px ridge;
}
.head
{
    margin-left: 10px;
    margin-right: 10px;
}
.nav-home
{
    font-size: 20px;
}
.nav-home:hover
{
    text-decoration: none;
}
.section
{
    margin-left: 5px;
    /*background-color: #ccccc;*/
    padding-top:5px;
}
.header
{
    height: 50px;
    margin-bottom: 3px;
    position: relative;
}
.ava
{
    height: 40px;
    width: 40px;
}
.left-picture
{
    float: left;
}
.pic-left
{
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
}
.article-news:hover
{

    border: 1px solid #0B90C4;
    transition: 0.4s;
}
.article-news
{
    background-color: #f8f8f8;
    /*margin-right: 20px;*/
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
/**/

/*content-right*/
ul > li
{
    list-style: none;
}
.sidebar
{
    background-color: #f8f8f8;
    padding:10px;
}
.gohome
{
    font-weight: bold;
}
a:hover
{
    text-decoration: none;
}
.make-color:hover
{
    text-decoration: underline;
}
.sub-content
{
    color: #337ab7;
}
.sub-content:hover
{
    color: #23527c;
    cursor: pointer;
}
.under-link-content-left:hover
{
    text-decoration: underline;
}