*,h1,h2,h3,h4,h5,h6
{
    margin:0;
    padding:0;
}
.container
{
    padding-top: 15px;
    margin-bottom: 20px;
}
/*content right - content img avatar*/
.img-ava
{
    margin-bottom: 10px;
}
.button-change-avatar
{
    display: flex;
    justify-content: center;
}
.user-name
{
    font-weight: 700;
    font-family: initial;
}
/*content left  - content info user*/

.user-info-header
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
li
{
    list-style: none;
}
.user-info-detail
{
    margin-left: 10px;
    margin-top: 10px;
}
dd
{
    margin-left: 10px;
}
